.filter {
  margin: 20px auto;
  padding: 12px 40px;
  border-radius: 8px;
  width: 250px;
  background-color: rgb(255, 251, 2);
  color: #fff;
}
.find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.p{
color: black;
}