.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  border-radius: 12px;
  background-color: rgba(15, 190, 233, 1);
  color: #fff;
  gap: 12px;
  width: 250px;
}

input {
  padding: 4px;
  border: none;
  outline: none;
  border-radius: 8px;
}
input:focus {
  background-color: #fff;
  color: black;
}

label {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 8px;
  border: none;
  padding: 8px 0;
  background-color:rgb(255, 251, 2);;
  color: black;
}
